/* || Global Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

/* || Colours */

:root {
    --black: #121826;
    --grey: #9da3ae;
    --white: #e5e7eb;
    --dark-teal: #212936;
    --pale-blue: #dee9fc;
    --pale-pink: #fbe5e6;
    --pale-yellow: #fceed8;
    --pale-grey: #d2d5da;
}

/* || Fonts */

@font-face {
    font-family: "Outfit Regular";
    src: url(./fonts/outfit-v15-latin-regular.woff2) format("woff2");
}

@font-face {
    font-family: "Outfit Semi Bold";
    src: url(./fonts/outfit-v15-latin-600.woff2) format("woff2");
}

/* || Typography */

.author-info {
    font-size: 14px;
    text-align: center;
    margin-top: 16px;
    color: rgb(55, 65, 81);
}

.author-info a {
    text-decoration: none;
}

/* || Main */

/* || Media Queries */

/* Tablet View */

@media screen and (min-width: 51.25rem) {
}
